<div class="category-page">
  <h1 class="page-heading">
    分类：<span class="category-name"><%= page.category %></span>
    <span class="page-heading-count"><%= page.posts.length %> 篇</span>
  </h1>
  <div class="post-list">
    <% page.posts.each(function(post) { %>
      <%- partial('_partial/post-card', {post: post}) %>
    <% }); %>
  </div>
  <%- partial('_partial/pagination') %>
</div>
